{{page-title "Some Cool GIFs"}}
<header>
  <h1 class="page-title">Some Cool GIFs</h1>
  <div class="settings">
    <fieldset class="radio-toggle">
      <input type="radio" id="animate-pause" name="animate" value="false" checked={{if this.animate false true}} {{on "click" this.toggleAnimate}}>
      <label for="animate-pause"><span class="material-icons">pause</span></label>
      <input type="radio" id="animate-play" name="animate" value="true" checked={{this.animate}} {{on "click" this.toggleAnimate}}>
      <label for="animate-play"><span class="material-icons">play_arrow</span></label>
    </fieldset>
  </div>
</header>

<main class="gif-grid">
{{#each @model as |gif|}}
  <article class="gif-card">
    <a class="gif-card__content" href="{{gif.url}}" target="_blank" rel="noopener noreferrer">
      {{#if this.animate}}
        <img class="gif-card__image" style={{html-safe (concat "aspect-ratio: " gif.images.original.width " / " gif.images.original.height ";")}}
          srcset="
            {{gif.images.fixed_width.url}} {{gif.images.fixed_width.width}}w,
            {{gif.images.fixed_height.url}} {{gif.images.fixed_height.width}}w,
            {{gif.images.original.url}} {{gif.images.original.width}}w
          "
          sizes="
            (min-width: 450px) 200px,
            calc(100vw - 2rem - 20px)
          "
          alt="{{gif.title}}"
          loading="lazy"
        >
      {{else}}
        <img class="gif-card__image" style={{html-safe (concat "aspect-ratio: " gif.images.original.width " / " gif.images.original.height ";")}}
          srcset="
            {{gif.images.fixed_width_still.url}} {{gif.images.fixed_width.width}}w,
            {{gif.images.fixed_height_still.url}} {{gif.images.fixed_height.width}}w,
            {{gif.images.original_still.url}} {{gif.images.original.width}}w
          "
          sizes="
            (min-width: 450px) 200px,
            calc(100vw - 2rem - 20px)
          "
          alt="{{gif.title}}"
          loading="lazy"
        >
      {{/if}}
      <div class="gif-card__info">
        <h2>{{gif.title}}</h2>
        <p class="gif-id">{{gif.id}}</p>
      </div>
    </a>
  </article>
{{/each}}
</main>